# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env.*.local

# Build
build/
dist/
.next/
out/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# OS
.DS_Store
.DS_Store?

# IDE
.vscode/
.idea/
*.swp
